name: Generate Changelog

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Changelog
        uses: javydreamercsw/github-changelog-generator@v1.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          changelog-file: "CHANGELOG.md"
          user: "javydreamercsw"
          project: "all-time-wrestling-rpg"
          branch: "main"